a{
    text-decoration: none !important;
    color: inherit !important;
}

#badgeNav{
    background-color: transparent !important;
}

.home{
    margin-top: 40px;
}

.product_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.product_item{

}

.item_image_wrapper{
    width: 100%;
}

.item_image_wrapper img{
    width: 100%;
    object-fit: contain;
}