a{
    text-decoration: none !important;
    color: inherit !important;
}

#badgeNav{
    background-color: transparent !important;
}

.home{
    margin-top: 40px;
}

.product_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.product_item{

}

.item_image_wrapper{
    width: 60%;
}

.item_image_wrapper img{
    width: 100%;
    object-fit: contain;
}

.dropdown_menu_items{
    height: 50px;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 0px 15px;
    display: grid;
    grid-template-columns: 1.2fr 3fr 0.6fr;;
    align-items: center;
    margin-bottom: 20px;
}

.menu_item_img_container{
  height: 50px;
}

.menu_item_img_container img{
    height: 100%;
}

.menu_item_title{
    display: grid;
    font-size: 16px;
}

.menu_item_delete{
    cursor: pointer;
    font-size: 24px;
}